@font-face 
    font-family: Mult
    src: url('../fonts/IceAgeRUS.ttf')

*
    font-family: Mult 
    text-shadow: 2px 3px 1px #7e7e7ec0  

body
    background: url('../img/bg_main.jpg')

.container
    width: 80%
    min-height: 700px
    margin: 0 auto
    

.text
    padding: 5px
    background-color: #ffc343
    border-radius: 20px
    p
        font-size: 20px
        color: #43fc0b
    
h1
    font-size: 45px
    text-align: center
    color: #fa0a0a
    text-shadow: 2px 3px 1px #727272be  

.games
    margin-top: 20px
    display: flex
    flex-direction: row
    

.game 
    text-align: center
    font-size: 25px   
    width: 200px
    height: 200px
    img
        width: 100%

.game-1
    font-size: 20px
    color: #f5f821
    text-shadow: 2px 3px 1px #474747d7  

.game-2
    color: #fa9f18
    text-shadow: 2px 3px 1px #474747d7  
    img
        margin-top: 5px
        width: 84%