body
	background-color: gray


h1
	text-align: center
	color: white

.container
	width: 900px
	margin: 0 auto
	display: grid
	justify-items: center
	align-items: center

.field
	background-color: #000
	display: grid
	width: 364px
	height: 364px
	grid-template-columns: repeat(9, 1fr)
	grid-template-rows: repeat(9, 1fr)
	grid-gap: 2px
	border-radius: 8px
	border: 2.5px solid black
	margin-bottom: 24px


.block
	background-color: #000
	border-radius: 8px
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-template-rows: 1fr 1fr 1fr

.miniBlock
	color: #7e7e7e
	background-color: #fff
	border: 2px solid black
	text-align: center
	font-size: 30px
	border-radius: 4px
	cursor: pointer

.buttons
	display: flex
	width: 80%
	justify-content: space-between

.number
	width: 48px
	height: 48px
	background-color: #ccc
	font-size: 24px
	color: #009
	border-radius: 8px
	cursor: pointer

	&:hover
		color: #00f
		background-color: #fff

.choisen
	background-color: #00f
	color: #fff

	&:hover
		background-color: #00f
		color: #fff

.erase
	margin-top: 15px
	padding: 8px
	font-size: 16px
	color: #fff
	background-color: #999999
	border-radius: 8px
	cursor: pointer
	&:hover
		background-color: #fff
		color: #575757
		font-weight: bold

.eraseOn
	color: red
	background-color: #900

.on-main
	position: absolute
	top: 90%
	right: 3%
	padding: 5px
	font-size: 16px
	color: #fff
	background-color: #999999
	border-radius: 8px
	cursor: pointer
	&:hover
		background-color: #fff
		color: #575757
		font-weight: bold

.const
	color: #000
	font-weight: bold

.modal
	position: fixed
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	background-color: #2b2b2bbb
	z-index: 100
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	&__content
		padding: 20px
		background-color: gray
		margin: 0 auto
		border-radius: 10px
		font-size: 25px
		text-align: center
		color: #fff
		.buttons
			width: 100%
			display: flex
			flex-direction: row
			justify-content: space-between
			margin-top: 15px
			.space
				margin: 0 30px 
			button
				width: 120px
				height: 40px
				border-radius: 15px
				background-color: #999999
				opacity: 0.9
				text-decoration: none
				color: #fff
				.confirm_1 
				&:hover
					background-color: #fff
					color: #575757
					font-weight: bold
				.confirm_2
				&:hover
					background-color: #fff
					color: #575757
					font-weight: bold
				&:focus
					box-shadow: none
					outline: none
		   

.hide
	display: none